<% layout("/layouts/boilerplate") %>


    <div class="container-div">
        <div class="listing-card">
            <div class="card-image">
                <img src="<%= listing.image %>" alt="Listing-Image">
            </div>
            <div class="card-details">
                <ul class="listing-info">
                    <li class="listing-title"><b>
                            <%= listing.title %>
                        </b></li>
                    <li class="listing-description">
                        <%= listing.description %>
                    </li>
                    <li class="listing-price">&#8377; <%= listing.price.toLocaleString('en-IN') %>
                    </li>
                    <li class="listing-location">
                        <%= listing.location %>
                    </li>
                    <li class="listing-country">
                        <%= listing.country %>
                    </li>
                    <li class="listing-owner">
                        Owned by <i><%= listing.owner.username %></i>
                    </li>
                </ul>
            </div>
            <% if(currUser && currUser._id.equals(listing.owner._id)){  %>
                <div class="card-actions">
                    <a href="/listings/<%= listing._id %>/edit" class="edit-link">Edit</a>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="delete-button">DELETE</button>
                    </form>
                </div>
            <% } %>
        </div>

        <div>
            <form action="/listings/<%= listing._id %>/reviews" method="POST" class="review-form needs-validation"
                novalidate>
                <h4>Review</h4>
                <div class="form-group">
                    <div class="form-div">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" class="form-control input-range" required min="1" max="5" id="rating"
                            name="review[rating]">
                    </div>
                    <div class="form-div">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea name="review[comment]" class="form-control textarea-comment" id="comment" cols="30"
                            rows="6" required></textarea>
                    </div>
                    <button type="submit" class="btn-submit">Submit</button>
                </div>
            </form>
        </div>
        
        <% if(listing.reviews[0]){ %>
            <p class="mt-4"><b>Reviews</b></p>
        <% } %>
        <div class="reviews">

            <% for(review of listing.reviews){ %>
                <div class="review-card">
                    <div class="review-content">
                        <p class="review-author"><i>@<%= review.author.username %></i></p>
                        <p class="review-comment">"<%= review.comment %>"</p>
                        <p class="review-rating">
                            <%= review.rating %> ★
                        </p>
                    </div>
                    <% if(currUser && currUser._id.equals(review.author._id)){ %>
                        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                           <button class="delete-button">Delete</button>
                         </form>
                    <% } %>
                </div>
                <% } %>
        </div>

    </div>