<% layout("/layouts/boilerplate") %>


<div class="container-div">
    <div class="listing-card">
        <div class="card-image">
            <img src="<%= listing.image %>" alt="Listing-Image">
        </div>
        <div class="card-details">
            <ul class="listing-info">
                <li class="listing-title"><b><%= listing.title %></b></li>
                <li class="listing-description"><%= listing.description %></li>
                <li class="listing-price">&#8377; <%= listing.price.toLocaleString('en-IN') %></li>
                <li class="listing-location"><%= listing.location %></li>
                <li class="listing-country"><%= listing.country %></li>
            </ul>
        </div>
        <div class="card-actions">
            <a href="/listings/<%= listing._id %>/edit" class="edit-link">Edit</a>
            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="delete-button">DELETE</button>
            </form>
        </div>
    </div>
</div>
